/venv/
/.venv/
/ragenv/

/persist_dir_2/
/notes/
/generated_images/

/.env
/.env.*
/code/.env
!.env.example

__pycache__/
*.py[cod]
*.pyo
*.pyd

**/.ipynb_checkpoints/

*.pkl
*.pkl.gz
*.pickle
*.log

.DS_Store
.idea/
.vscode/

/code/fallback.ipynb
/code/items.pkl.gz
/code/our_answers.json
/code/summaries.json
/code/test_context.ipynb
/code/test.ipynb
/code/guides

